

.nav-wrapper {
background-color: black;
padding-left: 5%;
padding-right: 5%;
border-bottom: white solid 2px;

}
.page-footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: white solid 2px;
   font-size: 12px;
}
nav ul li:hover {
    background-color: grey;
    
 }

.jtitle{
  
    color: white;
    font-size: 30px;
    border-bottom: 1.5px solid white;
}
#jheadTitle{
    color: white;
    font-size: 30px;
}
#jborder{
    border-bottom: 1.5px solid white;
}
#aboutMe{
}
.aboutMe{
    padding: 20px;
}
#jabout-text{
    text-indent: 20px;
    font-size: 20px;
    padding-right: 320px;
    padding-bottom: 15px;
}
#jabout-text2{

    text-indent: 15px;
    font-size: 20px;
    padding-bottom: 15px;

}
.card-title {
    opacity: .8;
}
#pT1{
    margin-top: 200px;
    padding-right: 20px;
    padding-left: 20px;
}

#pT2{
    margin-top: 200px;
    opacity: .8;
    margin-left: 40%;
    padding-right: 100px;
    font-weight: bold;
}
::placeholder{
    color: black;
}

#textarea-form {
    resize: none;
   height: 190px;
   

}
/*
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }
   .parallax {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
   }
   .parallax img {
     display: none;
     position: absolute;
     bottom: 0;
     width: 100%;
   }
*/
@media only screen and (max-width: 600px) {
    .jtitle{
        color: white;
        font-size: 18px;
        text-align: center;
    }
    #jabout-text{
        text-indent: 0px;
        font-size: 20px;
        margin-top: 280px;
        padding-right: 0px;
    }
    #jabout-text2{
        text-indent: 0px;
        font-size: 20px;
       
        padding-right: 0px;
    }
    #pT2{
       margin-left: 0; 
    }
    
}
